version: "3.8"

services:
  mysql:
   image: mysql:8.0
   container_name: mysql-container
   environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE:  ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD:  ${MYSQL_PASSWORD}

   volumes:
     - mysql-data:/var/lib/mysql
   healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 10s
      retries: 5
   restart: always

  todo-app:
     build: . 
     container_name: my-app
     environment:
        MYSQL_HOST: ${MYSQL_HOST}
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        MYSQL_DB: ${MYSQL_DATABASE}
     ports:
       - "5000:5000"
     depends_on:
       mysql:
         condition: service_healthy
     restart: always 
volumes:
 mysql-data:
